body {
    background: linear-gradient(-45deg, #69675b, #11646f, #796b7c, #5118a6, #eba71f);
    background-size: 500% 400%;
    animation: gradient-bg 10s ease infinite;    
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

h1 {
    color: rgb(216, 206, 206);
    text-shadow: 2px 3px 2px black;
    text-align: center;
    margin-top: 5%;
}


.container {
    margin-top: 5%;
    background-color: #e3f9ff;
    width: 100%;
    height: 100%;
    display: inline-block;
}

.calculator {
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.478);
}

.calculator .c {
    background-color: rgba(81, 17, 17, 0.592);
    color: white;
}

.calculator .module {
    background-color: rgba(187, 187, 18, 0.545);
}
.calculator {
    background-color: rgba(0, 0, 0, 0.843);
    border-radius: 25px;
    padding: 20px;
    margin: 0 40%;
}

.calculator form input {
    background-color: rgba(255, 255, 255, 0.455);
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 0;
    outline: none;
    font-size: 30px;
    color: rgb(73, 30, 30);
    margin: 14px;
    cursor: pointer;
    padding: 0.2em;
}

form .text-display {
    display: inline-block;
    margin: 30px 0;
}

form .text-display input {
    display: inline-block;
    background-color: #6759591e;
    color: whitesmoke;
    font-size: 30px;    
    width:  90%;
    border-radius: 1px;
    box-shadow: none;
    cursor:auto;
}

form input.equal {
    width: 40%;
    background-color: rgb(74, 70, 70);
}


/* ------------------ */

@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}